In [1]:
import os, torch, copy, cv2, sys, random
# from datetime import datetime, timezone, timedelta
from PIL import Image
import numpy as np
import pandas as pd
from tqdm import tqdm
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, Dataset
import torchvision.transforms as transforms

In [2]:
import argparse
import torchvision
import torchvision.models as models
import matplotlib.pyplot as plt 
from matplotlib.pyplot import imshow
%matplotlib inline

In [3]:
import albumentations as A
import cv2

In [5]:
# Declare an augmentation pipeline
transform = A.Compose([
    A.ImageCompression(quality_lower=10, quality_upper=30, always_apply=True, p=0.8),
    A.HorizontalFlip(p=0.5),
    A.RandomBrightnessContrast(p=0.2),
    # A.RandomGridShuffle(grid=(3, 3), always_apply=False, p=0.5)
    A.RandomToneCurve(scale=0.1, always_apply=False, p=0.5)
])

In [7]:
for i in range(646):
    image = cv2.imread(f"../data/train/{i}.png")
    image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
    
    transformed = transform(image=image)
    transformed_image = transformed["image"]
    cv2.imwrite(f"augmentation_image/transformed{i}.png", transformed_image)

In [8]:
train = pd.read_csv('../data/train.csv')
train.head()

  file_name  COVID
0     0.png      0
1     1.png      1
2     2.png      0
3     3.png      1
4     4.png      1

In [9]:
train['file_name'] = 'transformed' + train['file_name']

In [10]:
train.head()

          file_name  COVID
0  transformed0.png      0
1  transformed1.png      1
2  transformed2.png      0
3  transformed3.png      1
4  transformed4.png      1

In [11]:
train.to_csv('transformed_train.csv', index=False)

In [12]:
pd.read_csv('transformed_train.csv')

              file_name  COVID
0      transformed0.png      0
1      transformed1.png      1
2      transformed2.png      0
3      transformed3.png      1
4      transformed4.png      1
..                  ...    ...
641  transformed641.png      0
642  transformed642.png      1
643  transformed643.png      0
644  transformed644.png      1
645  transformed645.png      1

[646 rows x 2 columns]